@import 'reset';

body {
  font-size: 20px;
  background-color: #e7feff;
}
$pri: #5271ff;
$sec: #21345e;
$green: #30ba67;

.text-center {
  text-align: center;
}
.sec-padding {
  padding: 3rem 0;
}
.flex {
  display: flex;
}
.jsb {
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: white;
}
.btn-pri {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: $green;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 1rem;
}
.center {
  justify-content: center;
  align-items: center;
}

header {
  padding: 1rem;
  text-align: center;
  strong {
    font-size: 3rem;
    font-weight: 800;
    color: $sec;
  }
}
#input {
  width: 500px;

  padding: 0.5rem;
  &::placeholder {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }
}

.root {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  & > * {
    margin: 0.5rem 0;
  }

  .todo {
    padding: 0.5rem;
    background-color: rgb(221, 215, 215);
    border-radius: 10px;
    align-items: center;
  }
}
